  <section class="full-screen-hero">
    <div class="center-card">
      <div class="logo-mark">Zap</div>
      <a class="btn btn-primary connect-btn" href="/auth/twitch">Connect Twitch channel</a>
           <p class="muted-copy pt-5">
            Made by <a href="https://brendonbaugh.com" class="mt-2">Brendon Baugh</a>
        </p>
    </div>
  </section>
